<div class="cabecero">
	<div class="presupuesto">
		<div class="presupuesto_titulo">Presupuesto Disponible:</div>
		<div class="presupuesto_valor">
			{{ getIngreso() - getEgreso() | currency: 'MXN':'$':'1.2-2' }}
		</div>
		<div class="presupuesto_ingreso limpiarEstilos">
			<div class="presupuesto_ingreso--texto">Ingresos</div>
			<div class="right">
				<div class="presupuesto_ingreso--valor">
					+ {{ getIngreso() | currency: 'MXN':'$':'1.2-2' }}
				</div>
				<div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
			</div>
		</div>
		<div class="presupuesto_egreso limpiarEstilos">
			<div class="presupuesto_egreso--text">Egresos</div>
			<div class="right limpiarEstilos">
				<div class="presupuesto_egreso--valor">
					- {{ getEgreso() | currency: 'MXN':'$':'1.2-2' }}
				</div>
				<div
					class="presupuesto_egreso--porcentaje"
					*ngIf="getIngreso() > 0; else ingresoCero"
				>
					{{ getEgreso() / getIngreso() | percent }}
				</div>
				<ng-template #ingresoCero>
					<div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
				</ng-template>
			</div>
		</div>
	</div>
</div>
