<div class="ingreso">
	<h2 class="ingreso_titulo">Ingresos</h2>
	<app-ingreso
		*ngFor="let ingreso of ingresos; let i = index"
		[descripcion]="ingreso.nombre"
		[valor]="ingreso.valor"
		[index]="i"
	></app-ingreso>
</div>
