<div class="elemento limpiarEstilos">
	<div class="elemento_descripcion">{{ descripcion }}</div>
	<div class="right limpiarEstilos">
		<div class="elemento_valor">
			+ {{ valor | currency: 'MXN':'$':'1.2-2' }}
		</div>
		<div class="elemento_eliminar">
			<button class="elemento_eliminar--btn" (click)="eliminar()">
				<span
					class="iconify"
					data-icon="ion-ios-close-outline"
					data-inline="false"
				></span>
			</button>
		</div>
	</div>
</div>
