<div class="egreso">
	<h2 class="egreso_titulo">Egresos</h2>
	<app-egreso
		*ngFor="let egreso of egresos; let i = index"
		[descripcion]="egreso.nombre"
		[valor]="egreso.valor"
		[index]="i"
	></app-egreso>
</div>
