@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.limpiarEstilos::after {
	content: '';
	display: table;
	clear: both;
}

body {
	color: #555;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	position: relative;
	height: 100vh;
	font-weight: 400;
}

.right {
	float: right;
}
.red {
	color: #ff5049 !important;
}
.redfocus:focus {
	border: 1px solid #ff5049 !important;
}

.cabecero {
	height: 40vh;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 100px;
	color: #fff;
	background: url(assets/bg-pattern.png), #7b4397;
	background: url(assets/bg-pattern.png),
		-webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
	background: url(assets/bg-pattern.png),
		linear-gradient(to left, #7b4397, #dc2430);
}

.presupuesto {
	position: absolute;
	width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.presupuesto_titulo {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 300;
}

.presupuesto_valor {
	font-weight: 300;
	font-size: 46px;
	text-align: center;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

.presupuesto_ingreso,
.presupuesto_egreso {
	padding: 12px;
	text-transform: uppercase;
}

.presupuesto_ingreso {
	margin-bottom: 10px;
	background-color: #28b9b5;
}

.presupuesto_egreso {
	background-color: #ff5049;
}

.presupuesto_ingreso--texto,
.presupuesto_egreso--text {
	float: left;
	font-size: 13px;
	color: #444;
	margin-top: 2px;
}

.presupuesto_ingreso--valor,
.presupuesto_egreso--valor {
	letter-spacing: 1px;
	float: left;
}

.presupuesto_ingreso--porcentaje,
.presupuesto_egreso--porcentaje {
	float: left;
	width: 34px;
	font-size: 11px;
	padding: 3px 0;
	margin-left: 10px;
}

.presupuesto_egreso--porcentaje {
	background-color: rgba(255, 255, 255, 0.2);
	text-align: center;
	border-radius: 3px;
}

.agregar {
	padding: 14px;
	border-bottom: 1px solid #e7e7e7;
	background-color: #f7f7f7;
}

.agregar_contenedor {
	margin: 0 auto;
	text-align: center;
}

.agregar_tipo {
	width: 55px;
	border: 1px solid #e7e7e7;
	height: 44px;
	font-size: 18px;
	color: inherit;
	background-color: #fff;
	margin-right: 10px;
	font-weight: 300;
	transition: border 0.3s;
}

.agregar_descripcion,
.agregar_valor {
	border: 1px solid #e7e7e7;
	background-color: #fff;
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	padding: 12px 15px;
	margin-right: 10px;
	border-radius: 5px;
	transition: border 0.3s;
}

.agregar_descripcion {
	width: 400px;
}
.agregar_valor {
	width: 100px;
}

.agregar_btn {
	font-size: 35px;
	background: none;
	border: none;
	color: #28b9b5;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.1;
	margin-left: 10px;
}

.agregar_btn:active {
	transform: translateY(2px);
}

.agregar_tipo:focus,
.agregar_descripcion:focus,
.agregar_valor:focus {
	outline: none;
	border: 1px solid #28b9b5;
}

.agregar_btn:focus {
	outline: none;
}

.contenedor {
	width: 1000px;
	margin: 60px auto;
}

.ingreso {
	float: left;
	width: 475px;
	margin-right: 50px;
}

.egreso {
	float: left;
	width: 475px;
}

h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
}

.ingreso_titulo {
	color: #28b9b5;
}
.egreso_titulo {
	color: #ff5049;
}

.elemento {
	padding: 13px;
	border-bottom: 1px solid #e7e7e7;
}

.elemento:first-child {
	border-top: 1px solid #e7e7e7;
}
.elemento:nth-child(even) {
	background-color: #f7f7f7;
}

.elemento_descripcion {
	float: left;
}

.elemento_valor {
	float: left;
	transition: transform 0.3s;
}

.elemento_porcentaje {
	float: left;
	margin-left: 20px;
	transition: transform 0.3s;
	font-size: 11px;
	background-color: #ffdad9;
	padding: 3px;
	border-radius: 3px;
	width: 32px;
	text-align: center;
}

.ingreso .elemento_valor,
.ingreso .elemento_eliminar--btn {
	color: #28b9b5;
}

.egreso .elemento_valor,
.egreso .elemento_porcentaje,
.egreso .elemento_eliminar--btn {
	color: #ff5049;
}

.elemento_eliminar {
	float: left;
}

.elemento_eliminar--btn {
	font-size: 22px;
	background: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	display: none;
}

.elemento_eliminar--btn:focus {
	outline: none;
}
.elemento_eliminar--btn:active {
	transform: translateY(2px);
}

.elemento:hover .elemento_eliminar--btn {
	display: block;
}
.elemento:hover .elemento_valor {
	transform: translateX(-20px);
}
.elemento:hover .elemento_porcentaje {
	transform: translateX(-20px);
}

.no_pagado {
	background-color: #ffdad9 !important;
	cursor: pointer;
	color: #ff5049;
}

.no_pagado .elemento_porcentaje {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.no_pagado:hover .elemento_descripcion {
	font-weight: 900;
}
