<form (submit)="agregar()">
	<div class="agregar">
		<div class="agregar_contenedor">
			<select
				class="agregar_tipo"
				name="tipoOperacion"
				[ngClass]="{ redfocus: tipoOperacion == 'egr' }"
				[(ngModel)]="tipoOperacion"
			>
				<option value="ing">+</option>
				<option value="egr">-</option>
			</select>
			<input
				type="text"
				class="agregar_descripcion"
				placeholder="Agregar Descripción"
				name="descripcion"
				[ngClass]="{ redfocus: tipoOperacion == 'egr' }"
				[(ngModel)]="descripcion"
			/>
			<input
				type="number"
				class="agregar_valor"
				placeholder="Valor"
				name="valor"
				[ngClass]="{ redfocus: tipoOperacion == 'egr' }"
				[(ngModel)]="valor"
			/>
			<button
				class="agregar_btn"
				[ngClass]="{ red: tipoOperacion == 'egr' }"
				type="submit"
			>
				<span
					class="iconify"
					data-icon="ion-ios-checkmark-outline"
					data-inline="false"
				></span>
			</button>
		</div>
	</div>
</form>
